.header {
    white-space: nowrap;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 200px;
}

h3 {
    font-size: 20px;
    margin-left: 20px;
    position: absolute;
    left: -450px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.logoutBtn {
    position: absolute;
    text-align: center;
    top: -150px;
    left: 700px;
    padding: 5px;
    margin: 100px;
    height: 40px;
    width: 100px;
    background: #D9D9D9;
    transition-duration: 0.4s;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.passwordBtn {
    position: absolute;
    text-align: center;
    top: -150px;
    left: 500px;
    padding: 5px;
    margin: 100px;
    height: 40px;
    width: 150px;
    background: #D9D9D9;
    transition-duration: 0.4s;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.assignBtn, .reviewBtn, .viewStatusBtn {
    padding: 5px;
    margin: 100px;
    height: 75px;
    width: 250px;
    background: #D9D9D9;
    transition-duration: 0.4s;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.assignBtn:hover, .reviewBtn:hover, .logoutBtn:hover, .passwordBtn:hover, .viewStatusBtn:hover {
    background-color: lightblue;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.assignBtn:active, .reviewBtn:active, .logoutBtn:active, .passwordBtn:active, .viewStatusBtn:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

