.topBar777 {
    top: 60px;
    left: 80px;
    position: relative;
    padding: 10px;
}

.userName{
    position: absolute;
    width: 423px;
    height: 47px;
    left: 110px;
    top: 325px;
    background: #D9D9D9;
}

.oldPassword{
    position: absolute;
    width: 423px;
    height: 47px;
    left: 110px;
    top: 419px;
    background: #D9D9D9;
}

.confirmBtn {
    position: absolute;
    width: 185px;
    height: 47px;
    left: 570px;
    top: 419px;
    background: #D9D9D9;
    transition-duration: 0.4s;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.confirmBtn:hover {
    background-color: lightblue;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.confirmBtn:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.heading23{
    position: absolute;
    width: 300px;
    height: 36px;
    left: 110px;
    top: 248px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.newPwd{
    position: absolute;
    width: 423px;
    height: 47px;
    left: 110px;
    top: 519px;
    background: #D9D9D9;
}

.setPwdBtn{
    position: absolute;
    width: 185px;
    height: 47px;
    left: 570px;
    top: 519px;
    background: #D9D9D9;
    transition-duration: 0.4s;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.setPwdBtn:hover {
    background-color: lightblue;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.setPwdBtn:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.instructorPortalBtn{
    position: absolute;
    cursor: pointer;
    text-align: center;
    top: -120px;
    left: 700px;
    padding: 5px;
    margin: 100px;
    height: 40px;
    width: 170px;
    background: #D9D9D9;
    transition-duration: 0.4s;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.instructorPortalBtn:hover {
    background-color: lightblue;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.instructorPortalBtn:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.adminPortalBtn{
    position: absolute;
    cursor: pointer;
    text-align: center;
    top: -120px;
    left: 900px;
    padding: 5px;
    margin: 100px;
    height: 40px;
    width: 170px;
    background: #D9D9D9;
    transition-duration: 0.4s;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.adminPortalBtn:hover {
    background-color: lightblue;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.adminPortalBtn:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}