.userName{
    position: absolute;
    width: 423px;
    height: 47px;
    left: 110px;
    top: 325px;
    background: #D9D9D9;
}

.oldPassword{
    position: absolute;
    width: 423px;
    height: 47px;
    left: 110px;
    top: 419px;
    background: #D9D9D9;
}

.confirmBtn {
    position: absolute;
    width: 185px;
    height: 47px;
    left: 570px;
    top: 419px;
    background: #D9D9D9;
    transition-duration: 0.4s;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.confirmBtn:hover {
    background-color: lightblue;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.confirmBtn:active {
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.heading23{
    position: absolute;
    width: 300px;
    height: 36px;
    left: 110px;
    top: 248px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}

.newPwd{
    position: absolute;
    width: 423px;
    height: 47px;
    left: 110px;
    top: 519px;
    background: #D9D9D9;
}

.setPwdBtn{
    position: absolute;
    width: 185px;
    height: 47px;
    left: 570px;
    top: 519px;
    background: #D9D9D9;
    transition-duration: 0.4s;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.portalBtn{
    position: relative;
    width: 120px;
    height: 30px;
    background: #D9D9D9;
    border-radius: 30px;
    transition-duration: 0.4s;
    left: 50px;
}