.loginBtn {
    position: absolute;
    width: 185px;
    height: 47px;
    left: 348px;
    top: 528px;
    background: #D9D9D9;
    border-radius: 30px;
}

.heading {
            position: absolute;
            width: 214px;
            height: 36px;
            left: 110px;
            top: 248px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            color: #000000;
}

.username {
    position: absolute;
    width: 423px;
    height: 47px;
    left: 110px;
    top: 325px;
    background: #D9D9D9;
}

.password {
        position: absolute;
        width: 423px;
        height: 47px;
        left: 110px;
        top: 419px;
    
        background: #D9D9D9;
}

.forgotLink {
        position: absolute;
        width: 297px;
        height: 24px;
        left: 110px;
        top: 471px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #0400DE;
}

.splitBar {

    position: absolute;
    width: 402px;
    height: 0px;
    left: 640px;
    top: 420px;
    border: 3px solid #000000;
    transform: rotate(-90deg);
}
 
.aboutHeading {
        position: absolute;
        width: 178px;
        height: 36px;
        left: 950px;
        top: 248px;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
    
        color: #000000;
}

.about{
        position: absolute;
        width: 493px;
        height: 165px;
        left: 950px;
        top: 325px;
}
p {
    font-weight: bold;
    font-size: 13px;
}

.list {
    display: inline-block;
}