.heading123{
    position: center;
    left: 550px;
    top: 60px;
}
.boxes {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.box123 {
    overflow: auto;
    text-align: center;
    position: relative;
    overflow-y: scroll;
    height: 570px;
    width: 60%;
    top: 120px;
    left: 20%;
    border: 1px solid black;
    padding: 10px;
}

.instructorPortal12{
    position: relative;
    width: 120px;
    height: 30px;
    background: #D9D9D9;
    border-radius: 30px;
    transition-duration: 0.4s;
    left: 50px;
}

.instructorPortal12:hover {
    background-color: lightblue;
    color: black;
    font-weight: bold;
}
